- let relativePath = '.'

include _inc/_data.pug

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title MARK CALDERON
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous")
        link(href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet")
        link(rel="stylesheet" href=`${relativePath}/_assets/css/main.css`)
    body
        main
            section.kvSec
                .kvSec__inner
                    figure.kvSec__figureBg.js-panoObj
                        img.kvSec__figureBgThumb(src=`${relativePath}/_assets/img/kv/kv.png` alt="kv")
                    figure.kvSec__figureArea
                        img.kvSec__figureThumb(src=`${relativePath}/_assets/img/common/logo.svg` alt="logo")
            header.headerSec
            section.introSec
                .introSec__inner(data-aos="intro-anim")
                    .introSec__innerRightCut
                    .introSec__innerLeftCut
                    .introSec__textArea
                        h1.introSec__headTitle(data-aos="fade" data-aos-delay="1000") Mark Angeo Calderon
                        p.introSec__subTitle(data-aos="fade" data-aos-delay="1000") A Web Developer
                    .introSec__galArea
                        figure.introSec__figureArea(class="u-figure03" data-aos="fade" data-aos-delay="1000")
                            img.introSec__figureThumb(src=`${relativePath}/_assets/img/thumb-03.png` alt="thumb")
                        figure.introSec__figureArea(class="u-figure01" data-aos="fade" data-aos-delay="1000")
                            img.introSec__figureThumb(src=`${relativePath}/_assets/img/thumb-01.png` alt="thumb")
                        figure.introSec__figureArea(class="u-figure02" data-aos="fade" data-aos-delay="1000")
                            img.introSec__figureThumb(src=`${relativePath}/_assets/img/thumb-02.png` alt="thumb")
            section.hisSec
                .hisSec__inner
                    p.hisSec__startText(data-aos="zoom-out") CAREER PATHWAY
                    .hisSec__tree
                        |
                        |
                        .hisSec__treeLeft
                            |
                            |
                            .hisSec__treeItem(class="u-leftSide" data-aos="grow-line")
                                .hisSec__treeItemList
                                    .hisSec__treeItemCntArea(data-aos="fade")
                                        p.hisSec__treeItemCntTitleText
                                            | GRADUATE HONOURS STUDENT
                                            br
                                            | BACHELOR OF SCIENCE (HONOURS) IN COMPUTER SCIENCE
                                            br
                                            | AND SOFTWARE ENGINEERING
                                        p.hisSec__treeItemCntLosText
                                            | OXFORD BROOKES UNIVERSITY @ SINGAPORE
                                    .hisSec__treeItemYrArea(data-aos="fade")
                                        p.hisSec__treeItemYrText
                                            | 2010-2014
                            |
                            |
                            .hisSec__treeItem(class="u-leftSide" data-aos="grow-line")
                                .hisSec__treeItemList
                                    .hisSec__treeItemCntArea(data-aos="fade")
                                        p.hisSec__treeItemCntTitleText
                                            | JUNIOR FRONT-END WEB DEVELOPER
                                        p.hisSec__treeItemCntLosText
                                            | COMMUDE PHILIPPINES INC.
                                    .hisSec__treeItemYrArea(data-aos="fade")
                                        p.hisSec__treeItemYrText
                                            | 2019
                        |
                        |
                        //- .hisSec__treeMid
                        |
                        |
                        .hisSec__treeRight
                            |
                            |
                            .hisSec__treeItem(class="u-rightSide" data-aos="grow-line")
                                .hisSec__treeItemList
                                    .hisSec__treeItemCntArea(data-aos="fade")
                                        p.hisSec__treeItemCntTitleText
                                            | INFORMATION & COMMUNICATIONS
                                            br
                                            | AND TECHNOLOGY TEACHER
                                        p.hisSec__treeItemCntLosText
                                            | SERI MULIA SARJANA INTERNATIONAL SCHOOL
                                    .hisSec__treeItemYrArea(data-aos="fade")
                                        p.hisSec__treeItemYrText
                                            | 2015-2019
                            |
                            |
                            .hisSec__treeItem(class="u-rightSide" data-aos="grow-line")
                                .hisSec__treeItemList
                                    .hisSec__treeItemCntArea(data-aos="fade")
                                        p.hisSec__treeItemCntTitleText
                                            | TEAM LEAD&nbsp; | &nbsp;FRONT-END WEB DEVELOPER
                                        p.hisSec__treeItemCntLosText
                                            | COMMUDE PHILIPPINES INC.
                                    .hisSec__treeItemYrArea(data-aos="fade")
                                        p.hisSec__treeItemYrText
                                            | 2021
                    // / hisSec__tree
                    p.hisSec__endText(data-aos="zoom-out")
                        | SOFT SKILLS
                    ul.hisSec__goalList
                        li.hisSec__goalItem(class="u-right")
                            .hisSec__goalItemTextArea
                                h3.hisSec__goalItemTitleText(data-aos="wipe-right")  COMPETENT
                                figure.hisSec__goalItemFigureArea(data-aos="fade-right")
                                    img.hisSec__goalItemFigureThumb(src=`https://via.placeholder.com/550x270`)
                                p.hisSec__goalItemParaText(data-aos="fade")
                                    | A diverse set of skills that build up a quality product.
                        li.hisSec__goalItem(class="u-left")
                            .hisSec__goalItemTextArea
                                h3.hisSec__goalItemTitleText(data-aos="wipe-left")  TEAM PLAYER
                                figure.hisSec__goalItemFigureArea(data-aos="fade-left")
                                    img.hisSec__goalItemFigureThumb(src=`https://via.placeholder.com/550x270`)
                                p.hisSec__goalItemParaText(data-aos="fade")
                                    | Worked with individuals of different cultures
                        li.hisSec__goalItem(class="u-right")
                            .hisSec__goalItemTextArea
                                h3.hisSec__goalItemTitleText(data-aos="wipe-right") SUSTAINABLE
                                figure.hisSec__goalItemFigureArea(data-aos="fade-right")
                                    img.hisSec__goalItemFigureThumb(src=`https://via.placeholder.com/550x270`)
                                p.hisSec__goalItemParaText(data-aos="fade")
                                    | With the mindset of an educator that pushes towards progression and understanding.
            |
            |
            section.proSec
                .proSec__inner(data-aos="fade-up")
                    h2.titleBlock PROJECTS
                    ul.proSec__list(id="project-list")
                        - var i=1
                        each item, index in projectList
                            li.proSec__item(data-aos="fade" data-aos-delay=`${i + '00'}`)
                                a.proSec__itemAnchor(href=`${item.link}` target="_blank")
                                    figure.proSec__itemImageArea
                                        .proSec__itemImageThumb(style="background-image: url('" + `${relativePath}` + "/_assets/img/projects/" + `${item.image}` + "')")
                                    .proSec__itemTextArea
                                        p.proSec__itemTitleText
                                            span.proSec__itemTitleText=item.title
                                            span.proSec__itemLabel(class=item.labelClass) #{item.label}
                                        p.proSec__itemParaText #{item.desc}
                            - i++
                    //- .proSec__more
                        a.proSec__moreAnchor(data-more="project-list") SHOW MORE
            //- |
            //- |
            //- section.achSec
            //-     .achSec__inner
            //-         h2.titleBlock ACHIEVEMENTS
            //-         ul.achSec__list
            //-             |
            //-             |
            //-             li.achSec__item
            //-                 a.achSec__itemAnchor(href="#" target="_blank")
            //-                     figure.achSec__itemImageArea
            //-                         .achSec__itemImageThumb(style="background-image: url('./_assets/img/common/logo.svg');")
            //-                     .achSec__itemTextArea
            //-                         p.achSec__itemTitleText Implement a Student ID System
            //-                         p.achSec__itemParaText A project that seeks to implement a system for the entire student body to fast track and digitised borrowing books and also for student identification.
            |
            |
            section.tooSec
                .tooSec__inner
                    h2.titleBlock.u-logo(data-accord="toolBody")
                        span(class="fas fa-tools")
                    .tooSec__list(id="toolBody")
                        .tooSec__listItem
                            .tooSec__listItemTitleText Design and Documentation
                            .tooSec__innerList
                                .tooSec__innerListCol
                                    .tooSec__innerListColItem Adobe Creative Cloud
                                    .tooSec__innerListColItem.u-sec01Level Adobe Photoshop
                                    .tooSec__innerListColItem.u-sec01Level Adobe Illustrator
                                    .tooSec__innerListColItem.u-sec01Level Adobe InDesign
                                    .tooSec__innerListColItem.u-sec01Level Adobe XD
                                .tooSec__innerListCol
                                    .tooSec__innerListColItem Figma
                                    .tooSec__innerListColItem Microsoft Office
                                    .tooSec__innerListColItem Google Services

                        |
                        |
                        .tooSec__listItem
                            .tooSec__listItemTitleText Development Tools
                            .tooSec__innerList
                                .tooSec__innerListCol
                                    .tooSec__innerListColItem Prepos
                                    .tooSec__innerListColItem NPM Packages
                                    .tooSec__innerListColItem.u-sec01Level GULP.js
                                    .tooSec__innerListColItem.u-sec01Level PUG.js
                                .tooSec__innerListCol
                                    .tooSec__innerListColItem Visual Studio Code
                                    .tooSec__innerListColItem Github
                                    .tooSec__innerListColItem Bitbucket
                        |
                        |
                        .tooSec__listItem
                            .tooSec__listItemTitleText Libraries and Frameworks
                            .tooSec__innerList
                                .tooSec__innerListCol
                                    .tooSec__innerListColItem JS Libraries
                                    .tooSec__innerListColItem.u-sec01Level REACT.js
                                    .tooSec__innerListColItem.u-sec01Level VUE.js
                                    .tooSec__innerListColItem.u-sec01Level NUXT.js
                                .tooSec__innerListCol
                                    .tooSec__innerListColItem CMS
                                    .tooSec__innerListColItem.u-sec01Level WordPress
                                    .tooSec__innerListColItem Animation Library
                                    .tooSec__innerListColItem.u-sec01Level GSAP
                                    .tooSec__innerListColItem.u-sec01Level ScrollMagic
                        |
                        |
                        .tooSec__listItem
                            .tooSec__listItemTitleText Languages
                            .tooSec__innerList
                                .tooSec__innerListItem HTML5
                                .tooSec__innerListItem SCSS/CSS3
                                .tooSec__innerListItem ES6
                                .tooSec__innerListItem jQuery
                                .tooSec__innerListItem PHP
            |
            |
            section.conSec
                .conSec__bg.js-panoObj
                .conSec__inner
                    h2.titleBlock.u-aCenter CONTACT US
                    ul.conSec__listLink
                        li.conSec__listLinkItem
                            a.conSec__listLinkAnchor(href=`${relativePath}/_assets/docs/resume.docx` target="_blank" rel="noopener noreferrer")
                                span.material-icons contact_page
                        li.conSec__listLinkItem
                            a.conSec__listLinkAnchor(href="https://www.linkedin.com/in/markcalderon/" target="_blank" rel="noopener noreferrer")
                                span.conSec__faIcon(class="fab fa-linkedin-in")
                        li.conSec__listLinkItem
                            a.conSec__listLinkAnchor(href="https://twitter.com/markzev0" target="_blank" rel="noopener noreferrer")
                                span.conSec__faIcon(class="fab fa-twitter")
                        li.conSec__listLinkItem
                            a.conSec__listLinkAnchor(href="https://github.com/MarkCalderon" target="_blank" rel="noopener noreferrer")
                                span.conSec__faIcon(class="fab fa-github")
                    form.conSec__form(id="form" novalidate method="post")
                        table.conSec__table
                            tbody.conSec__tableTBody
                                tr.conSec__tableTr
                                    td.conSec__tableTd(colspan="2")
                                        legend.conSec__formLegend
                                            p.conSec__formLegendText All fields are required to be filled in.
                                tr.conSec__tableTr
                                    td.conSec__tableTd(colspan="2")
                                        label.conSec__label(for="input-email")
                                            span.conSec__labelText
                                                | Email Address:
                                            span.conSec__requiredText REQUIRED
                                            //- span.conSec__successText VALID
                                        .conSec__input
                                            input.conSec__textInput(class="form-control" type="email" name="input-email" required placeholder="email@mail.com" data-pristine-required-message="Please provide an email for us to reach you.")
                                            p.conSec__errorText
                                tr.conSec__tableTr
                                    td.conSec__tableTd(colspan="2")
                                        label.conSec__label(for="input-name")
                                            span.conSec__labelText
                                                | Name:
                                            span.conSec__requiredText REQUIRED
                                            //- span.conSec__successText VALID
                                        .conSec__input
                                            input.conSec__textInput(class="form-control" type="text" name="input-name" required data-pristine-required-message="How should we address you?")
                                            p.conSec__errorText
                                tr.conSec__tableTr
                                    td.conSec__tableTd
                                        label.conSec__label(for="input-type")
                                            span.conSec__labelText
                                                | Type:
                                            span.conSec__requiredText REQUIRED
                                            //- span.conSec__successText VALID
                                        .conSec__input
                                            input.conSec__radioInput(class="form-control" type="radio" name="input-type" value="Proposal" required)
                                            label(for="type-proposal")
                                                span.conSec__choiceText Proposal
                                            input.conSec__radioInput(class="form-control" type="radio" name="input-type" value="Consulation" required data-pristine-required-message="What type of discussion you would like to discuss?")
                                            label(for="type-consultation")
                                                span.conSec__choiceText Consulation
                                            p.conSec__errorText
                                tr.conSec__tableTr
                                    td.conSec__tableTd(colspan="2")
                                        label.conSec__label(for="input-message")
                                            span.conSec__labelText
                                                | Details:
                                            span.conSec__requiredText REQUIRED
                                            //- span.conSec__successText VALID
                                        .conSec__input
                                            textarea.conSec__textArea(class="form-control" name="input-message" required minlength="20" maxlength="100" data-pristine-required-message="Write a description that is at least 20 words long.")
                                            p.conSec__errorText
                                tr.conSec__tableTr
                                    td.conSec__tableTd(colspan="2")
                                        .conSec__input
                                            input.conSec__submitInput(type="submit" value="SEND MESSAGE" )
            section.popSec#popup
                .popSec__inner
                    .popSec__text Successfully sent

            script(src=`https://smtpjs.com/v3/smtp.js`)
            script(src=`${relativePath}/_assets/lib/validate/pristine.js`)
            script(src=`${relativePath}/_assets/js/main.js`)
        footer

